bcrypt==3.1.7
black==19.10b0
email-validator==1.1.1
Flask==1.1.2
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-PyMongo==2.3.0
html5lib==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
pylint==2.5.3
pymongo==3.11.0
pytest==6.0.1
pytest-cov==2.10.0
requests==2.22.0
urllib3==1.25.8
webencodings==0.5.1
Werkzeug==1.0.1
